<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		span.cta-container>a {
			color: white !important;
		}

		p {
			font-size: 16px;
		}

		.container {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
		}

		.header {
			background-color: #f2f2f2;
			padding: 20px;
			text-align: center;
		}

		.content {
			background-color: #ffffff;
			padding: 20px;
		}

		.footer {
			background-color: #f2f2f2;
			padding: 20px;
			text-align: center;
		}

		.button-cta {
			border-radius: 16px;
			background-color: #5800ff;
			padding: 1rem;
			margin-bottom: 24px;
			margin-top: 24px;
			color: white;
			display: block;
			max-width: 140px;
			text-align: center;
			font-size: 18px;
			font-weight: 700;
			text-decoration: none;
		}

		.button-cta:hover,
		.button-cta:visited,
		.button-cta:active {
			color: white;
			text-decoration: none;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="header">
			<h2>Stipend Application Update</h2>
		</div>
		<div class="content">
			<p>
				Hello {{ name }},
			</p>
			<p>We are writing to let you know that your May 2024 application for <b>{{ stipendCategory }}</b> stipend is
				currently being reviewed.
			</p>

			<p>
				You should hear back from us before the end of next week if your stipend application for May 2024 was
				successful.
			</p>
			<p>
				In the meantime, you can login anytime to your dashboard using the button below view your
				application status.
			</p>
			<span class="cta-container"><a class="button-cta" href="www.edustipend.org/dashboard">View Status</a></span>
			<p>
				We wish you the best.
			</p>

			<p>&nbsp;</p>
			<p>
				In Your Service,
			</p>
			<p>
				The Edustipend Team
			</p>
			<div class="links-container"><a href="https://www.edustipend.org">www.edustipend.org</a></div>
			<div class="links-container">
				<a href="https://www.facebook.com/edustipend">Facebook</a>
				|
				<a href="https://www.linkedin.com/company/edustipend">LinkedIn</a>
				|
				<a href="https://www.twitter.com/edustipend">X</a>
			</div>

		</div>
		<div class="footer">
			<p>
				This is an automated message. Please do not reply to this email.
			</p>
		</div>
</body>

</html>