<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    span.cta-container>a {
      color: white !important;
    }

    p {
      font-size: 16px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .header {
      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
    }

    .content {
      background-color: #ffffff;
      padding: 20px;
    }

    .footer {
      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
    }

    .button-cta {
      border-radius: 16px;
      background-color: #5800ff;
      padding: 1rem;
      margin-bottom: 24px;
      margin-top: 24px;
      color: white;
      display: block;
      max-width: 140px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
    }

    .button-cta:hover,
    .button-cta:visited,
    .button-cta:active {
      color: white;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>Thank you for your valuable donation</h2>
    </div>
    <div class="content">
      <p>
        Hello there, the Edustipend Team is saying a big thank you for your donation <b>{{ amount }}</b> to support a
        learner 🎉. Your valuable donation will go a long way towards helping that learner move closer towards becoming
        the best version of themselves.
      </p>
      <p>
        Please note that you can see your donation and track the progress of the fundraising goal on our
        Transparency Dashboard by clicking on the the button below:
      </p>
      <span class="cta-container"><a class="button-cta"
          href="www.edustipend.org/support-a-learner/transparency-dashboard">View Donations</a></span>
      <p>
        If you have any ideas on how we can better improve or you would like to contact the team,
        please feel free to email us at <a
          href="mailto:supportalearner@edustipend.org">supportalearner@edustipend.org</a>
      </p>
      <p>
        Thank you once again for partnering with us and we look forward to future opportunities as we continue to work
        to improve the outcomes of others.
      </p>
      <p>&nbsp;</p>
      <p>
        In Your Service,
      </p>
      <p>
        The Edustipend Team
      </p>
      <div class="links-container"><a href="https://www.edustipend.org">www.edustipend.org</a></div>
      <div class="links-container">
        <a href="https://www.facebook.com/edustipend">Facebook</a>
        |
        <a href="https://www.linkedin.com/company/edustipend">LinkedIn</a>
        |
        <a href="https://www.twitter.com/edustipend">X</a>
      </div>

    </div>
    <div class="footer">
      <p>
        This is an automated message. Please do not reply to this email.
      </p>
    </div>
</body>

</html>